<a href="https://colab.research.google.com/github/czyz-patryk/dataScience/blob/main/laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [13]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [14]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-02-01 to 2018-02-05
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [15]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 940 entries, 2023-02-01 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    940 non-null    float64
 1   High    940 non-null    float64
 2   Low     940 non-null    float64
 3   Close   940 non-null    float64
 4   Volume  940 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.1 KB

In [16]:
apple.head()

               Open    High     Low   Close      Volume
Date
2023-02-01  143.970  146.61  141.32  145.43  77663633.0
2023-01-31  142.700  144.34  142.28  144.29  65874459.0
2023-01-30  144.955  145.55  142.85  143.00  64015274.0
2023-01-27  143.155  147.23  143.08  145.93  70555843.0
2023-01-26  143.170  144.25  141.90  143.96  54105068.0

In [17]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [18]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-02-01     143.970      146.61     141.32       145.43    77663633.0
2023-01-31     142.700      144.34     142.28       144.29    65874459.0
2023-01-30     144.955      145.55     142.85       143.00    64015274.0
2023-01-27     143.155      147.23     143.08       145.93    70555843.0
2023-01-26     143.170      144.25     141.90       143.96    54105068.0

In [20]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [23]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,98.42,46.34,34.74,50.12,103.74,142.34,181.58
apple_high,1257.00,99.62,46.94,35.16,50.58,108.71,143.85,181.88
apple_low,1257.00,97.26,45.74,34.26,49.65,103.57,140.65,178.09
apple_close,1257.00,98.49,46.36,34.31,50.23,105.66,142.49,180.96
apple_volume,1257.00,118233536.04,56456701.58,35195860.00,79915584.38,103085454.53,139502756.31,434708544.96
amazon_open,1257.00,120.45,35.08,67.30,89.41,108.10,158.34,187.20
amazon_high,1257.00,121.91,35.45,69.17,90.09,110.78,159.94,188.65
amazon_low,1257.00,118.83,34.67,63.30,88.36,106.32,156.25,184.84
amazon_close,1257.00,120.38,35.02,66.98,89.37,108.00,158.10,186.57
amazon_volume,1257.00,86175070.10,40303267.30,17626740.00,58974200.00,74964740.00,101737140.00,311345660.00
google_open,1257.00,86.34,30.57,49.22,59.14,74.96,112.64,151.25
google_high,1257.00,87.32,30.86,50.61,59.71,75.80,114.01,151.55
google_low,1257.00,85.37,30.21,48.88,58.53,74.38,111.46,148.90
google_close,1257.00,86.36,30.53,49.23,59.13,75.36,112.72,149.84
google_volume,1257.00,35254178.24,15834812.02,9312760.00,25153400.00,31436600.00,40257340.00,133177100.00
uber_open,940.00,37.27,9.83,15.96,29.68,34.82,44.21,63.25
uber_high,940.00,38.04,9.91,17.80,30.40,35.49,44.94,64.05
uber_low,940.00,36.43,9.68,13.71,29.12,34.00,43.40,60.80
uber_close,940.00,37.23,9.77,14.82,29.74,34.70,44.03,63.18
uber_volume,940.00,25407166.74,16448779.95,3380003.00,15674506.25,21741749.00,30384453.75,186322536.00

In [24]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.78,0.78,0.77,0.77,-0.30,0.93,0.93,0.92,0.93,-0.15,0.09,0.09,0.09,0.09,0.10
apple_high,1.00,1.00,1.00,1.00,-0.36,0.77,0.78,0.77,0.77,-0.30,0.93,0.93,0.92,0.93,-0.14,0.08,0.09,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.78,0.78,0.77,0.78,-0.31,0.93,0.93,0.93,0.93,-0.15,0.09,0.10,0.09,0.09,0.10
apple_close,1.00,1.00,1.00,1.00,-0.37,0.78,0.78,0.77,0.78,-0.30,0.93,0.93,0.93,0.93,-0.15,0.09,0.09,0.09,0.09,0.10
apple_volume,-0.36,-0.36,-0.37,-0.37,1.00,-0.23,-0.22,-0.24,-0.23,0.58,-0.41,-0.41,-0.42,-0.41,0.50,-0.18,-0.17,-0.20,-0.18,0.24
amazon_open,0.78,0.77,0.78,0.78,-0.23,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.80,0.79,-0.16,0.59,0.59,0.59,0.59,-0.03
amazon_high,0.78,0.78,0.78,0.78,-0.22,1.00,1.00,1.00,1.00,-0.25,0.80,0.80,0.80,0.80,-0.15,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.77,0.77,0.77,0.77,-0.24,1.00,1.00,1.00,1.00,-0.28,0.79,0.79,0.79,0.79,-0.17,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.77,0.77,0.78,0.78,-0.23,1.00,1.00,1.00,1.00,-0.27,0.79,0.79,0.80,0.79,-0.16,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.30,-0.30,-0.31,-0.30,0.58,-0.26,-0.25,-0.28,-0.27,1.00,-0.33,-0.32,-0.34,-0.33,0.58,-0.17,-0.17,-0.19,-0.18,0.24
google_open,0.93,0.93,0.93,0.93,-0.41,0.79,0.80,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.41,0.79,0.80,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.93,-0.42,0.80,0.80,0.79,0.80,-0.34,1.00,1.00,1.00,1.00,-0.19,0.25,0.25,0.25,0.25,0.09
google_close,0.93,0.93,0.93,0.93,-0.41,0.79,0.80,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.18,0.24,0.24,0.24,0.24,0.10
google_volume,-0.15,-0.14,-0.15,-0.15,0.50,-0.16,-0.15,-0.17,-0.16,0.58,-0.17,-0.17,-0.19,-0.18,1.00,-0.16,-0.15,-0.18,-0.16,0.26
uber_open,0.09,0.08,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.09,0.10,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.09,-0.20,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.24
uber_close,0.09,0.08,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.22
uber_volume,0.10,0.11,0.10,0.10,0.24,-0.03,-0.03,-0.04,-0.03,0.24,0.10,0.10,0.09,0.10,0.26,-0.22,-0.19,-0.24,-0.22,1.00

In [25]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [27]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.78          0.93        0.09
amazon_close         0.78          1.00          0.79        0.59
google_close         0.93          0.79          1.00        0.24
uber_close           0.09          0.59          0.24        1.00

In [28]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [29]:
df[closes]

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
Date,,,,,,,,
2018-02-05,37.20,303899830.70,69.50,228542940,53.14,83047480,NaN,NaN
2018-02-06,38.76,287070610.08,72.14,221336380,54.22,76630480,NaN,NaN
2018-02-07,37.92,216565561.56,70.76,142705120,52.77,51740820,NaN,NaN
2018-02-08,36.89,227920902.45,67.53,170100620,50.39,66610860,NaN,NaN
2018-02-09,37.34,295776972.59,66.98,282597020,52.31,98269260,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-01-26,143.96,54105068.00,99.22,68523557,97.52,30113974,30.02,25383593.00
2023-01-27,145.93,70555843.00,102.24,87775614,99.37,33879753,30.36,18223987.00
2023-01-30,143.00,64015274.00,100.55,70691860,96.94,27226198,29.63,17969731.00
2023-01-31,144.29,65874459.00,103.13,66527253,98.84,29870669,30.93,15611532.00
2023-02-01,145.43,77663633.00,105.15,80450121,100.43,35531104,31.49,21206352.00

In [30]:
uber

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-01      30.88      31.85     30.64       31.49     21206352
2023-01-31      29.75      30.96     29.74       30.93     15611532
2023-01-30      30.20      30.54     29.59       29.63     17969731
2023-01-27      29.70      30.60     29.50       30.36     18223987
2023-01-26      30.53      30.65     29.31       30.02     25383593
...               ...        ...       ...         ...          ...
2019-05-16      41.48      44.06     41.25       43.00     38115524
2019-05-15      39.37      41.88     38.95       41.29     36086065
2019-05-14      38.31      39.96     36.85       39.96     46661147
2019-05-13      38.79      39.24     36.08       37.10     79442420
2019-05-10      42.00      45.00     41.06       41.57    186322536

[940 rows x 5 columns]

In [32]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [33]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [35]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]